# Project 2:  Lucid Titanic Sleuthing

## Part 1: Developing an understanding of the data

#### Based on the description of the data you read in the readme describe in your own words this data.

Datasets describing the passengers and crew of 2 ship wrecks have been presented.  The datasets contain biographical data, details of the passage on the ship and survival data.

#### Based on our conceptual understanding of the columns in this data set.  What are the reasonable range of the values for the Sex, Age, SibSp, Parch columns.

The range for sex/gender is binary; it is either male or female.

The Age range is a few months to 85 years old.  This range will be confirmed in the initial data inspection. 

The SibSp column describes family members of the same generation.  Expected values are 0 to 10. There should be peaks at 0 and 1 for single and married travelers.

The ParCh column describes intergeneration connections.  The range should be 0 to 10.  There should be peaks at 0 and 2 for unattached travelers and chilren.

### Open the data in sublime text is there anything that jumps out to you?

While the datasets describe similar information, the presetnation of the data is very different.  The titanic data set has been encoded and cleaned for analysis.  The Lusitania dataset is contains more data as words and descriptions.  

The contents of the datasets are different, as well.  The Lusitania dataset includes the crew where the Titanic dataset only refers to the passengers and a few employees of White Staar lines or the shipbuilder, Harland and Wolff.

## Part 2: reading the data in

#### Now read the data into a Pandas DataFrame

In [2]:
import pandas as pd
import numpy as np
import matplotlib as ply
%matplotlib inline
import seaborn as sds

In [7]:
titanic_df_raw = pd.read_csv('assets/titanic.csv')
luisitania_df_raw = pd.read_csv('assets/lusitania.csv')

#### Check that the age column doesn't have any unreasonable values

The titanic age column is automatically converted to floatint points, which indicates there are all the data is numeric.  The range is 0.17 to 80 years. There are many missing values in the age column which are treated as NaN by pandas.  The missing values age values come primarily from the third class and those that embarked in Queenstown, Ireland.

In [49]:
missing_age = titanic_df_raw.groupby(['embarked']).count()[['name','age']]
missing_age['%Missing'] = (missing_age['name']-missing_age['age'])/missing_age['name']
missing_age

          name  age  %Missing
embarked
C          270  212  0.214815
Q          123   50  0.593496
S          914  782  0.144420

In [52]:
luisitania_df_raw.columns
luisitania_df_raw['Age'].unique()

array(['38', '37', '30', '25', '27', '48', nan, '24', '19 ?', '57', '50',
       '56', '41', '19', '33', '29', '18', '20', '21', '26', '17', '58',
       '47', '54', '35', '43', '59', '53', '44', '51', '40', '49', '42',
       '32', '31', '34', '22', '45', '36', '29 ?', '52', '23', '60', '28',
       '16', '46', '15', '39', '63 ?', '55', '64', '53 ?', '09-months',
       '6', '9', '14', '10', '12', '?', '62', '5', '8', '65', '68', '76',
       '61', '63', '03-months', '1.5', '2.5', '18-months', '3', '2',
       '25 ?', '08-months', '4', '15-months', '14-months', 'Infant',
       '3-6-months ?', '51 or 47', '45 or 51', '22 (?)', '17-months',
       '13-months', '02-months', '49 ?', '05-months', '11', '59 (64?)',
       '63 (51?)', '37 (39?)', '32 (22?)', '31 (32?)', '24 (23?)', '27?',
       '7', '42?', '31 ?', '10-months', '38 (?)', '70', '62 (?)',
       '06-months', '13', '2_', '11-months', '30 ?', '34?', '1',
       '39 (47?)', '67', '73', '72', '11-months (3?)', '4.25', '69', '26?',
       '54?', '21?', '16 ?'], dtype=object)

## Part 3: data imputation

#### Well letâ€™s say that it does... You likely noticed that Age has some missing values. How many are missing?

#### For the Age of the passangers ... how would you guess at the missing values using the other data present in the CSV.

## Part 4: Group Statistics

#### Are there any groups that were especially adversely affected in the Titanic wreck? (justify your response numerically)

#### Are there any groups that outperformed the survival of the latter group? (justify your response numerically)

## Part 5:  Comparative Statistics:  Lusitania

#### Are there any groups that were especially adversely affected in the Titanic wreck? (justify your response numerically)

#### Are there any groups that outperformed the survival of the latter group? (justify your response numerically)

#### What does the group-wise survival rate imply about circumstances during these two accidents?